<form class="booking-item-dates-change mb30">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group form-group-icon-left fromFlt">
        <label>From</label>
        <input type="text" class="form-control" autocomplete="off" id="fromFlt" name="fromFlt" placeholder="Melbourne (MLB)" />
        <input type="hidden" name="hfromFlt" id="hfromFlt" />
        <div class="suggest dn"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group form-group-icon-left toFlt">
          <label>To</label>
          <input type="text" class="form-control" autocomplete="off" id="toFlt" name="toFlt" placeholder="Sydney (SYD)" />
          <input type="hidden" name="htoFlt" id="htoFlt" />
          <div class="suggest dn"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group form-group-icon-left">
          <label>Departing</label>
          <input type="text" class="form-control" id="dateFlt" name="dateFlt">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group form-group-select-plus">
          <label>Search Flights</label>
          <button type="button" class="btn btn-success btn-block">Go</button>
      </div>
    </div>
  </div>
</form>
