<!DOCTYPE HTML>
<html>
<% include head %>
<body>
  <div class="global-wrap">
    <div class="container">
      <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Flight results</li>
      </ul>
      <% include form %>
      <div class="row loaderClass">
        <div class="col-lg-12 center">
          <div class="loader"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="booking-list">
          </ul>
        </div>
      </div>
      <div class="gap"></div>
    </div>
  </div>
</body>
</html>
